<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.adoranwodo.gottrivia">

    <application
            android:allowBackup="true"
            android:icon="@drawable/swords"
            android:label="@string/app_name"
            android:roundIcon="@drawable/swords"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
        >
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN"/>
                <category
                    android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
        >
            <intent-filter>
                <action
                    android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".QuizActivity"
            android:screenOrientation="portrait"
        >
        </activity>
        <activity
            android:name=".ResultActivity"
            android:screenOrientation="portrait"
        >
        </activity>
        <activity
            android:name=".LevelActivity"
            android:screenOrientation="portrait"
        >
        </activity>
        <activity
            android:name=".ScoresActivity"
            android:screenOrientation="portrait"
        >
        </activity>
        <activity
            android:name=".RulesActivity"
            android:screenOrientation="portrait"
        >
        </activity>
    </application>

</manifest>